@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Righteous&display=swap');
* {
  font-family: 'Righteous', cursive;
}

.inter-title {
  color: rgb(151, 34, 34);
}

// #content {
//   font-family: 'Courgette', cursive;
// }

.tab-content {
  width: 100%;
}

@media (max-width: 600px) {

  .respond {
    flex-direction: column;
  }
}